# Frontend settings
app_name: "The Wub Machine"

# Remix Queue settings
maximum_concurrent_remixes: 4
maximum_waiting_remixes: 10
hourly_remix_limit: 60

# Timeouts (0: no timeout)
cleanup_timeout: 3600  # in seconds
remix_timeout: 1800    # in seconds, A remix could take up to 30 minutes
wait_timeout: 1800     # in seconds, how long someone can wait for a remix.
watch_timeout: 25      # After upload, the browser has x seconds to open a progress socket.

thumbnail_size: 128

# Monitor settings
monitor_limit: 20
monitor_time_limit: 172800 # in seconds, time in the past to allow searching/graphing

# Server settings
nginx: False
database_connect_string: 'mysql+pymysql://user:password@localhost/wubmachine'

# Backend log-to-file and debug
log_file: 'log.txt'
log_name: "web"
log_format: '%(asctime)s (%(levelname)s) %(module)s:%(lineno)d: %(message)s'
echo_database_queries: False

# Allowed mimetypes and file extensions
allowed_file_extensions: ['.mp3', '.m4a', '.mp4', '.wav']

# Socket.IO variables, needed in JS and backend
socket_io_port: 8001
socket_extra_sep: '/'
monitor_resource: 'watch'
progress_resource: 'progress'